.message {
  z-index: 11;
  min-height: 41px;
  width: 220px;

  border-radius: 4px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

  box-sizing: border-box;
  padding: 10px;
  background-color: #fff;
}

.message.dark {
  background-color: #1d2628;
  color: #ffffff;
}

.message.light {
  background-color: #ffffff;
  color: #1d2628;
}

.icon {
  height: 100%;
  width: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.icon > svg {
  width: 25px;
  height: 25px;
}

.text {
  height: 100%;
  width: 100%;

  word-break: break-all;

  text-align: left;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

  color: #1d2628;
}

.error.icon > svg {
  fill: #ff4d4f;
}

.info.icon > svg {
  fill: #1d2628;
}

.warring.icon > svg {
  fill: #faad14;
}

.loading.icon > svg {
  fill: #1d2628;
  animation-duration: 2s;
  animation-name: loading;
  animation-iteration-count: infinite;
}

.success.icon > svg {
  fill: #00fc00;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
