.bg {
  top: 0;
  left: 0;
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: 100vh;
  width: 100%;

  box-sizing: border-box;
  padding: 16px;

  z-index: 10;

  gap: 20px;
  pointer-events: none;
}

.left {
  align-items: flex-start;
}

.top {
  justify-content: flex-start;
}

.right {
  align-items: flex-end;
}

.bottom {
  justify-content: flex-end;
}
