.item {
  position: relative;

  box-sizing: border-box;
  width: 100%;

  height: 55px;

  padding: 4px;

  transition: all 0.2s;

  gap: 4px;
}

.tooltip {
  position: absolute;

  top: 14px;
  right: -210px;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  width: 200px;
  height: 30px;

  border-radius: 4px;
}

.dark .tooltip {
  color: #fff;
  background-color: #262626;
}

.light .tooltip {
  color: #fff;
  background-color: #262626;
}

.light.item {
  color: var(--black);
  background-color: #fff;
}

.dark.item {
  color: #7d8791;
  background-color: var(--bg-ui-dark);
}

.light .active {
  color: var(--blue);
  background-color: #fff !important;
}

.dark .active {
  color: #fff;
  background-color: var(--blue) !important;
}

.inner {
  display: grid;

  box-sizing: border-box;
  width: 100%;

  height: 100%;
  padding: 0 10px 0 20px;

  transition: all 0.2s;

  text-align: center;

  border-radius: 4px;

  gap: 20px;
  grid-template-columns: 30px 1fr 16px;
  grid-template-areas: 'mainIcon  text  subIcon';
}

.inner.slim {
  display: grid;
  align-items: center;

  justify-content: center;

  box-sizing: border-box;
  width: 100%;

  height: 100%;

  padding: 0;

  border-radius: 4px;
  grid-template-columns: 1fr;
  grid-template-areas: 'mainIcon';
}

.light .inner:hover {
  background-color: var(--gray);
}

.dark .inner:hover svg {
  color: #fff;
  fill: #fff;
}

.light .inner svg {
  width: 30px;
  height: 30px;
  fill: var(--black-light);
}

.dark .inner svg {
  width: 30px;
  height: 30px;
  fill: #7d8791;
}

.mainIcon {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  width: 30px;
  width: 100%;

  height: 30px;

  height: 100%;

  grid-area: mainIcon;
}

.light .active .mainIcon svg {
  fill: var(--blue);
}

.dark .active .mainIcon svg {
  fill: #fff;
}

.subIcon {
  grid-area: subIcon;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  grid-area: text;
}

.item.neomorphism {
  width: 55px;
}
