.modal {
  z-index: 7;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  box-sizing: border-box;

  min-height: 180px;

  margin-top: 10%;
  padding: 16px;

  border-radius: 12px;
}

.m.modal {
  width: 1060px;
}

.s.modal {
  width: 500px;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;

  box-sizing: border-box;

  width: 100%;
  height: 41px;

  border-radius: 12px;

  font-weight: bold;
}

.title .icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.title .icon > svg {
  width: 100%;
  height: 100%;
}

.dark .icon > svg,
.dark .close > svg {
  fill: #fff;
}

.light .icon > svg,
.light .close > svg {
  fill: var(--black);
}

.title .text {
  font-size: 17px;
}

.close {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 30px;

  height: 30px;
  margin-right: 0;

  margin-left: auto;

  cursor: pointer;

  border: none;
  background-color: none;
}

.dark .close {
  background-color: var(--black);
}

.light .close {
  background-color: #fff;
}

.close > svg {
  width: 100%;
  height: 100%;
  fill: var(--black);
}

.bg {
  position: absolute;

  z-index: 2;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;

  height: 100vh;

  user-select: none;

  background-color: rgb(0 0 0 / 10%);
}

.bg.visible {
  display: none;
}

.dark.modal {
  color: #fff;
  background-color: var(--bg-ui-dark);
  box-shadow: 9px 9px 24px #0f1012, -9px -9px 24px #212428;
}

.light.modal {
  color: var(--black);
  background-color: #fff;
  box-shadow: 9px 9px 24px #969598, -9px -9px 24px #ffffff;
}

.content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;

  text-align: left;
  word-break: break-all;

  font-size: 15px;

  font-weight: 600;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;

  width: 100%;

  height: auto;
  margin-top: auto;
  margin-bottom: 0;

  gap: 10px;
}

.ghost.icon > svg {
  fill: var(--black);
}

.primary.icon > svg {
  fill: var(--blue);
}

.error.icon > svg {
  fill: var(--red);
}

.success.icon > svg {
  fill: var(--green);
}

.warring.icon > svg {
  fill: var(--orange);
}
