.controlls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  margin-top: auto;
  margin-bottom: 0;
}

.controlls .link {
  font-size: 13px;

  height: auto;
  width: auto;

  margin-left: 50px;
}

.controlls .link > a {
  color: #3f96ff;
  margin-right: 3px;
  text-decoration: none;
}
