.container {
  position: relative;
  width: 100%;
  border-radius: 4px;

  border: 2px solid #d9d9d9;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 0;
}

.container:hover {
  border: 2px solid #3f96ff;
  transition: all 0.2s;
}

.prefix {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;

  height: 100%;
  width: 88px;

  border-right: 2px solid #d9d9d9;
}

.postfix {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;

  height: 100%;
  width: 80px;

  border-left: 2px solid #d9d9d9;
}

.input {
  height: 100%;
  width: 100%;

  border-radius: 4px;
  border: none;
  outline: none;

  padding-right: 10px;
  padding-left: 10px;
}

.s {
  height: 30px;
}

.m {
  height: 38px;
}

.l {
  height: 47px;
}

.s .input,
.s .prefix,
.s .postfix {
  font-size: 10px;
  height: 24px;
}

.s .prefix,
.s .postfix {
  height: 26px;
}

.m .input,
.m .prefix,
.m .postfix {
  font-size: 13px;
  height: 32px;
}

.m .prefix,
.m .postfix {
  height: 34px;
}

.l .input,
.l .prefix,
.l .postfix {
  font-size: 16px;
  height: 41px;
}

.l .prefix,
.l .postfix {
  height: 43px;
}

.ghost .prefix,
.ghost .postfix {
  background-color: #fafafa;
  color: #1e1e1e;
}

.primary .prefix,
.primary .postfix {
  background-color: #3f96ff;
  color: #fff;
}

.dark.primary .prefix,
.dark.primary .postfix {
  background-color: #4170fd;
  color: #fff;
}

.error .prefix,
.error .postfix {
  background-color: #ff4d4f;
  color: #fff;
}

.success .prefix,
.success .postfix {
  background-color: #00fc00;
  color: #fff;
}

.dark.success .prefix,
.dark.success .postfix {
  background-color: #53c51a;
  color: #fff;
}

.warring .prefix,
.warring .postfix {
  background-color: #faad14;
  color: #fff;
}

.ghost .prefix > svg,
.ghost .postfix > svg {
  fill: #1e1e1e;
}
.primary .prefix > svg,
.primary .postfix > svg {
  fill: #fff;
}
.error .prefix > svg,
.error .postfix > svg {
  fill: #fff;
}
.success .prefix > svg,
.success .postfix > svg {
  fill: #fff;
}
.warring .prefix > svg,
.warring .postfix > svg {
  fill: #fff;
}

.dark .input {
  background-color: #1f1f1f;
  color: #fff;
}

.dark.container {
  background-color: #1f1f1f;
  border: 2px solid #fff;
}

.dark.container:hover {
  border: 2px solid #3f96ff;
  transition: all 0.2s;
}

.dark .prefix {
  border-right: 2px solid #fff;
}

.dark .postfix {
  border-left: 2px solid #fff;
}
