.container {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;

  padding: 0;

  border: 2px solid #d9d9d9;
  border-radius: 4px;
}

.container:hover {
  transition: all 0.2s;

  border: 2px solid var(--blue);
}

.prefix {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  min-width: 88px;

  height: 100%;

  border-right: 2px solid #d9d9d9;

  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.postfix {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  min-width: 80px;

  height: 100%;

  border-left: 2px solid #d9d9d9;

  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.input {
  width: 100%;
  height: 100%;

  padding-right: 10px;
  padding-left: 10px;

  border: none;

  border-radius: 4px;
  outline: none;
}

.s {
  height: 30px;
}

.m {
  height: 38px;
}

.l {
  height: 47px;
}

.s .input,
.s .prefix,
.s .postfix {
  height: 24px;

  font-size: 10px;
}

.s .prefix,
.s .postfix {
  height: 26px;
}

.m .input,
.m .prefix,
.m .postfix {
  height: 32px;

  font-size: 13px;
}

.m .prefix,
.m .postfix {
  height: 34px;
}

.l .input,
.l .prefix,
.l .postfix {
  height: 41px;

  font-size: 16px;
}

.l .prefix,
.l .postfix {
  height: 43px;
}

.ghost .prefix,
.ghost .postfix {
  color: var(--black);
  background-color: #fafafa;
}

.primary .prefix,
.primary .postfix {
  color: var(--black);
  background-color: var(--blue);
}

.dark.primary .prefix,
.dark.primary .postfix {
  color: var(--black);
  background-color: var(--blue-dark);
}

.error .prefix,
.error .postfix {
  color: #fff;
  background-color: var(--red);
}

.dark.error .prefix,
.dark.error .postfix {
  color: var(--black);
  background-color: var(--red-dark);
}

.success .prefix,
.success .postfix {
  color: #fff;
  background-color: var(--green);
}

.dark.success .prefix,
.dark.success .postfix {
  color: var(--black);
  background-color: var(--green-dark);
}

.warring .prefix,
.warring .postfix {
  color: #fff;
  background-color: var(--orange);
}

.dark.warring .prefix,
.dark.warring .postfix {
  color: var(--black);
  background-color: var(--orange-dark);
}

.ghost .prefix > svg,
.ghost .postfix > svg {
  fill: var(--black);
}

.primary .prefix > svg,
.primary .postfix > svg {
  fill: #fff;
}

.error .prefix > svg,
.error .postfix > svg {
  fill: #fff;
}

.success .prefix > svg,
.success .postfix > svg {
  fill: #fff;
}

.warring .prefix > svg,
.warring .postfix > svg {
  fill: #fff;
}

.dark .input {
  color: #fff;
  background-color: var(--bg-ui-dark);
}

.dark.container {
  border: 2px solid #fff;
  background-color: var(--bg-ui-dark);
}

.dark.container:hover {
  transition: all 0.2s;

  border: 2px solid var(--blue-dark);
}

.dark .prefix {
  border-right: 2px solid #fff;
}

.dark .postfix {
  border-left: 2px solid #fff;
}
