@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

body {
  margin: 0;

  background-color: var(--bg-dark);

  font-family: 'REM', 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg-ui-dark: #222629;
  --bg-ui-light: #fff;

  --bg-dark: #181a1d;
  --bg-light: #f6f5f9;

  --gray: #f0f0f0;
  --gray-dark: #7e7e7e75;

  --black: #1d2628;

  --blue: #008efd;
  --blue-dark: #44adff;

  --red: #b00020;
  --red-dark: #cf6679;

  --green: #309054;
  --green-dark: #44cc77;

  --orange-dark: #ff8975;
  --orange: #ff5436;
}
