.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  gap: 40px;

  background-color: var(--bg-ui-light);
}

.vertical {
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.horizontal {
  flex-direction: row;

  width: 100%;
  height: 100%;

  border-bottom: 1px solid var(--gray-dark);
}

.slim {
  width: 86px;
}

.dark.menu {
  border-right: none;
  background-color: var(--bg-ui-dark);
}

.neomorphism {
  border-radius: 50px;
  padding-top: 25px;

  box-sizing: border-box;
  width: 60px;

  box-shadow: 9px 9px 24px #969598, -9px -9px 24px #ffffff;
}

.dark.neomorphism {
  box-shadow: 9px 9px 24px #0f1012, -9px -9px 24px #212428;
}
